.bookingMain {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bookingContainerMain {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.bookingContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.bookingDay {
    color: white;
}

.bookingContainerRow {
    width: 100%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* background-color: #4d74adf5; */
    background-color: #474E68;
}

.bookingContainerColumns {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.bookingContainerColumn {
    width: 230px;
    min-height: 475px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #7db2ed;
    color: white;
    cursor: pointer;
}

.bookingContainerColumn:hover {
    background-color: #65a1e6;
}

.bookingContainerH4 {
    margin: 10px;
}

.bookingContainerP {
    width: 100%;
    margin: 5px;
    /* text-align: left; */
}

.searchBarMain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInputContainer {
    width: 450px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.582);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchInputIcon {
    width: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #7db2ed;
    color: white;
}

.searchInput {
    width: 85%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #7db2ed;
    font-size: 20px;
    font-weight: bold;
}

.searchInput::placeholder {
    color: #7db2ed;
}

.orderDetailsMain {
    width: 90%;
    height: 750px;
    position: fixed;
    top: 50px;
    left: 100px;
    overflow: scroll;
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
}

.orderDetailsContainer {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.orderDetailsRows {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.orderDetailsRow {
    width: 350px;
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

}

.orderDetailsColumns {
    width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.orderDetailsColumn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.orderDetailsHeaderH4 {
    text-align: left;
    width: 275px;
    padding: 10px;
    margin: 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
}

.orderDetailsH4, .orderDetailsP {
    margin: 10px;
}

.orderDetailsService {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderDetailsServiceHeader {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.printBtn {
    height: 50px;
    width: 200px;
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #7db2ed;
    color: white;
    cursor: pointer;
}

.printBtn:hover {
    background-color: #65a1e6;
}

.printBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

.printBtn:disabled:hover {
    background-color: #7db2ed;
}

.navigationMain {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationIconContainer {
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(110, 110, 110, 0.116);
    color: #7db2ed;
    cursor: pointer;
}

.navigationIconContainer:hover {
    background-color: rgba(110, 110, 110, 0.171);
    color: #65a1e6;
}

.navigationIconContainer:disabled {
    opacity: 0.5;
    cursor: default;
}

.navigationIconContainer:disabled:hover {
    background-color: rgba(110, 110, 110, 0.116);
    color: #7db2ed;
    opacity: 0.5;
}

.addBookingBtn {
    height: 45px;
    width: 200px;
    margin: 20px auto;
    border: 1px solid #7db2ed;
    border-radius: 5px;
    background-color: #7db2ed;
    color: rgb(243, 243, 243);
    cursor: pointer;
}


.addBookingBtn:hover {
    background-color: #65a1e6;
    color: white;
}
