.systemStatusMain {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 180px;
    border: 1px solid green;
    border-radius: 5px 5px 0 0;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
}